<!doctype html>
<html ng-app="myApp">
	<head>
		<meta charset="utf-8">
		
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		<meta name="author" content="Eduardo Bobato">
		<meta name="description" content="My Website">
		
		<link rel="icon" href="./img/favicon.ico"/>
		
		<title>My Portifolio</title>

		<script>document.write('<base href="' + window.location.toString().substring(0, window.location.toString().indexOf('#!')) + '" />');</script>
	
		<link href="./css/style.css" rel="stylesheet"/>
	</head>
	
	<body ng-controller="AppController as App" class="{{ bodyClass }}">
		
		<ui-view name="toolbar"></ui-view>
		
		<div class="container-fluid content">

			<div class="row">
				<div class="col-xs-12">
					<ui-view></ui-view>
				</div>
			</div>

		</div>

		<ui-view name="footer"></ui-view>

		<div data-ng-if="loading" id="loader" class="backgroud-loader">
			<div class="loader loading"></div>
		</div>

		<script src="./js/scripts.js"></script>

	</body>
</html>
