.popover-action {
	font-weight: bold;
	
	button {
	    display: block;
	    margin-bottom: 3px;
	    font-weight: bold;
    }
}

.popover-pular-encoste {
	width: 150px;
	
	.erroPopover {
	    font-size: 12px;
	}
}