<main id="home" class="mywebapp-main">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center fs-54">{{ Home.textos.name }}</h1>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="h-5 bg-black m-0-50"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <h1 class="align-right">
                {{ Home.textos.contact.title }}
            </h1>
        </div>
        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-12">
                    <h5>{{ Home.textos.contact.cel }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h5>{{ Home.textos.contact.mail }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h5>
                        <a href="{{ Home.textos.contact.linkedinURL }}" target="_blank">{{ Home.textos.contact.linkedin }}</a>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h5>
                        <a href="{{ Home.textos.contact.githubURL }}" target="_blank">{{ Home.textos.contact.github }}</a>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h5>
                        {{ Home.textos.contact.country + ', ' + Home.textos.contact.state + ', ' + Home.textos.contact.city }}</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-3">
            <h2 class="align-right">
                {{ Home.textos.profile.title }}</a>
            </h2>
        </div>
        <div class="col-xs-9">
            <h5 ng-repeat="desc in Home.textos.profile.description">
                {{ desc }}</a>
            </h5>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-3">
            <h2 class="align-right">
                {{ Home.textos.experience.title }}</a>
            </h2>
        </div>
    </div>
    <div ng-repeat="exp in Home.textos.experience.list" class="row">
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="align-right">
                        {{ exp.company }}
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h6 class="align-right c-gray">
                        {{ exp.start + ' > ' + exp.end }}
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-12">
                    <h4>
                        {{ exp.office }}
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h5>
                        {{ exp.description }}
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-3">
            <h3 class="align-right">{{ Home.textos.education.title }}</h3>
        </div>
    </div>
    <div ng-repeat="educ in Home.textos.education.list" class="row">
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="align-right">
                        {{ educ.schoolName }}
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h6 class="align-right">
                        {{ educ.start + ' > ' + educ.end }}
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-12">
                    <h4>
                        {{ educ.title }}
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-3">
            <h3 class="align-right">{{ Home.textos.skills.title }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="align-right">
                {{ skill.title }}
            </h3>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="skill in Home.textos.skills.list" class="col-xs-6">
            <div class="row">
                <div class="col-xs-6">
                    <h4 class="align-right">
                        {{ skill.name }}
                    </h4>
                </div>
                <div class="col-xs-6">
                    <h4>
                        {{ skill.level }}
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-3">
            <h3 class="align-right">{{ Home.textos.language.title }}</h3>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="language in Home.textos.language.list" class="col-xs-6">
            <div class="row">
                <div class="col-xs-6">
                    <h4 class="align-right">
                        {{ language.language }}
                    </h4>
                </div>
                <div class="col-xs-6">
                    <h4>
                        {{ language.level }}
                    </h4>
                </div>
            </div>
        </div>
    </div>
</main>

