<main class="mywebapp-main">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">{{ Home.textos.name }}</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <h5 class="text-center">{{ Home.textos.cel + ' - ' + Home.textos.mail }}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h5 class="text-center">
                <a href="{{ Home.textos.linkedin }}" target="_blank">{{ Home.textos.linkedin }}</a>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h5 class="text-center">
                <a href="{{ Home.textos.github }}" target="_blank">{{ Home.textos.github }}</a>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h5 class="text-center">
                {{ Home.textos.country + ', ' + Home.textos.state + ', ' + Home.textos.city }}</a>
            </h5>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-3">
            <h2 class="align-right">
                {{ Home.textos.profile.title }}</a>
            </h2>
        </div>
        <div class="col-xs-9">
            <h5 ng-repeat="desc in Home.textos.profile.description">
                {{ desc }}</a>
            </h5>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-3">
            <h2 class="align-right">
                {{ Home.textos.experience.title }}</a>
            </h2>
        </div>
        <div class="col-xs-9">
            <h5 ng-repeat="desc in Home.textos.profile.description">
                {{ desc }}</a>
            </h5>
        </div>
    </div>
    <hr>
    <div ng-repeat="exp in Home.textos.experience.list" class="row">
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="align-right">
                        {{ exp.company }}
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h6 class="align-right">
                        {{ exp.start + ' > ' + exp.end }}
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-12">
                    <h4>
                        {{ exp.office }}
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h5>
                        {{ exp.description }}
                    </h5>
                </div>
            </div>
            <h5>
                
            </h5>
        </div>
    </div>
</main>

