.lista-usuarios{

    .card-container {
        margin-top: 0px;
    }

    .new-user-wrapper {
        margin: 30px 0 20px;
        text-align: right;
    }

    .radio-opt-wrapper {
        height: 34px;
        line-height: 34px;
        margin: 10px 0;        
    }

    .search-wrapper {
        margin: 10px 0;

        .input-group-addon {
            padding: 0;
            line-height: inherit;

            button {
                padding: 6px 12px;
                background: transparent;
                border: none;
            }
        }
    }

    .itens-pag-wrapper {
        margin: 10px 0 10px;

        label {
            font-size: 16px;
            color: #333;
        }
        select {
            display: inline-block;
            max-width: 80px;
            margin-left: 10px;
        }
    }

    .itens-count{
        padding-top: 10px;
        margin-bottom: -10px;
    }

    .table-wrapper {
        margin-bottom: 30px;

        .table-header {
            padding: 1rem 1rem!important;
            background-color: $blue-primary!important;
            color: #fff;
        }
    }

    .pagination-wrapper{
        
    }
}

.cadastro {

    input[type="checkbox"] {
        &:before {
            background-color: $blue-primary;
            border: 2px solid $blue-primary;
        }
        &:not(:checked) {
            &:before {
                background-color: white!important;
            }
        }
    }

    .panel{
        box-shadow: none!important;
        .panel-heading{
            border-bottom: 1px solid rgba(76, 113, 179, 0.588);
            padding-left: 0px;
            padding-right: 0px;
        }
        .panel-body{
            border-top: 0px!important;
        }
    }
    
    .panel-group .panel + .panel {
        margin-top: 0px;
    }
    
    .loader-wrapper {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: white;
        z-index: 9999;
        .loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
        }
    }
    
    form {
        margin-top: 30px;

        .checkbox-wrapper {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            margin: 0 10px;
            margin-top: 20px;
            padding: 13.5px 0;
            margin-bottom: -15px;
        }

        label {
            font-size: 16px;
        }

        .patio-select-wrapper {
            margin: 20px 0 60px;
            
            label {
                @media screen and (max-width: 473px) {
                    display: block;
                    margin-bottom: 10px
                }
            }
            
            select {
                display: inline-block;
                max-width: 320px;
                margin-left: 0px;
                @media screen and (max-width: 473px) {
                    display: block;
                    margin-bottom: 10px;
                    margin-left: 0;
                }
            }

            button {
                margin: 0 auto;
                display: inline-block;
                @media screen and (max-width: 473px) {
                    margin: 0;
                }
            }
        }
        
        .patio-config-wrapper {
                        
            hr {
                border-top-color: rgba(73, 131, 176, 0.801);
            }

            .terminal-name {
                font-weight: 600;
                line-height: 25px;
            }
            label {
                span {
                    font-size: 15px;
                }
            }
        }

        .buttons-wrapper {
            margin: 25px 0;
        }
    }

    .row-header-patios{
        background-color: #e0e0e091;
        height: 30px;
        padding-top: 5px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .row-header-patios-descricao{
        margin-left: 0px; 
        margin-right: 0px;
        label {
            margin-left: 40%;
            margin-top: 2px;
            margin-bottom: -2px;
        }
    }
}