.table {
		tbody > tr > td {
			border-top: none;
		}
	}

	.linhas-table {
		border-collapse: separate;
    	border-spacing: 0 10px;
    
		th {
			padding: 0;
			border-bottom: none;
		}
		td {
			border: 1px solid #eee !important;
			color: #1089ff;
			padding: 0;
		}
	}
