<section class="error-page">
    <div class="row">
        <div class="col-md-12 access-denied text-center">
            <div class="content">
                <div class="error-500">
                    OPS!
                </div>
                <h3>ACESSO NEGADO</h3>
                <p>Você não tem permissão para acessar essa página.<br/>
                Verifique a URL ou volte para a tela anterior.</p>
                <div class="btn-group">
                    <a href="javascript:history.back();" class="btn btn-danger"><i class="fa fa-chevron-left"></i> Voltar</a>
                </div>
            </div>
        </div>
    </div>
</section>