.modal-justificar-dispersao-encoste {

    .col-filter{
        width: 10%;
        float: left;
        position: relative;
        min-height: 1px;
    }
    
    .text-align{
        vertical-align: middle !important;
        text-align: center !important;
    }
    
    .col-info{
        width: 15%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-info-12{
        width: 12%;
        float: left;
        position: relative;
        min-height: 1px;
    }
    
    .col-combo{
        width: 20%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 5%;
        vertical-align: middle;
    }

    .col-hour{
        width: 20%;
        position: relative;
        min-height: 1px;
        vertical-align: middle;
    }
    
    select {
        color: #1089ff;
        font-weight: bold;
        width: 100%;
    }
    
    textArea {
        margin-top: 30px;
        width: 95.5%;
        float: none;
        padding: 1%;
        resize: none;
    }
    
    label{
        margin-top: 5px;
    }
    
    .item-justificativa {
        background-color: #f4f4f4;
        color: #999;
        border: 1px solid #dfdfdf;
        border-radius: 3px;
        font-size: 14px;
        letter-spacing: 0.5px;
        margin: 12px 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .ellipsis-collapse {
        white-space: normal;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .mr-15-neg {
        margin-right: -15px;
    }

    .mt-7 {
        margin-top: 7px;
    }

    .ml-25-porc {
        margin-left: 25%;
    }
}