<header class="navbar navbar-default navbar-inner mywebapp-toolbar">
	<div class="container-fluid">
	
		<div class="navbar-header">
        	<a class="navbar-brand">
				<!-- TODO: Inerir Logo -->
				<img src="./img/favicon-32x32.png" alt="MYAPP"/>
        	</a>
        </div>
	
		<div id="navbar" class="collapse navbar-collapse">

			<ul class="nav navbar-right nome-da-aplicacao">
				<li>
					<!-- TODO: Inserir nome -->
					<h5><strong></strong></h5>
				</li>
			</ul>
		</div>

	</div>
</header>